<header id="header" class="header sucess-registry">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <pre class="succesful">
              Gracias por Registrarte, nos pondremos en contacto contigo pronto,
              pero antes Déjanos decirte, algo muy simple, pero importante,
              estamos profundamente emocionados de que te sumes a este facinante
              evento, y muchos niños también lo estarán.

              Puedes envíarnos al WhatsApp el nombre de tú barbería, para
              publicarte y que muchas personas puedan conocerte, y
              posteriormente visitarte. Solo presiona este enlace  <a href="https://api.whatsapp.com/send?phone=18094534872"> WhatsApp</a> 

              Siguenos en <a href="https://www.instagram.com/storetime.rd">Instagram </a>
              Siguenos en <a href="https://www.facebook.com/storetime.rd">Facebook </a>
            </pre>
          </div>
        </div>

      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>

</header>